/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
body{
    background-color: black;
}


/* HEADER */

/* MAIN */
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vh;
    height: 100vh;
    gap:10px;
}
.item{
    display: flex;
    background-color: #216477;
    width: 160px;
    height: 100px;
}
/* FOOTER */